$containerHeight: 50px;
$containerWidth: 100%;

$fontSize: calc($para5 + 1px);
$borderRadius: 10px;

@mixin containerStyle {
    width: $containerWidth;
    height: $containerHeight;
    margin-bottom: 25px;
    
    background-color: #EEE;
    border-radius: 10px;
    position: relative;
}