@import '../config';

.addContainer {
    height: fit-content;
    // padding: 20px 20px;
    justify-content: flex-start;
    flex-direction: column;

}

$dist: 16px;
.addInput {
    border-bottom: 1.5px #DDD solid;
    // padding: 10px 0px;

    padding-bottom: $dist;
    margin-top: $dist;
    // margin: 10px 0px;

    &:last-child {
        border: none;
    }
}