@import '../config';
@import '../authConfig';
@import './paymentConfig';

$containerWidth: 100%;
$authBoxColor: #EEE;
$textfieldHorizPadding: 20px;

.container {
    @include containerStyle;
    @include flexCenter(row);
   padding: 8px 16px;
}

.presetContainer {
    .input {
        color: #444;
        font-weight: bold;
    }
}

.prefix {
    font: calc($fontSize - 1px);
    margin-right: 4px;
    color: $placeholderColor;
}

.inputTitle {
    font-size: $para5;
    margin-left: calc($borderRadius / 2);
    margin-bottom: 5px;
}

.input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    // background-color: blue;
    font-size: $fontSize;
}

