@import '../config';

.pageContainer {
    @include flexCenter(column);
    // height: 100vh;
    min-height: 500px;
    padding-bottom: 80px;
    justify-content: flex-start;
}

.mainContainer {
    width: 100%;
    height: fit-content;
    max-width: 400px;
    padding: 50px 30px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    @include flexCenter(column);
}

.details {
    
}

.userDetailsContainer {
    @include flexCenter(row);
    justify-content: flex-start;

    .name {
        font-size: $para4;
        font-weight: 600;
    }
}

.productDetails {
    @include flexCenter(column);

    .serviceName {
        font-size: $para3;
        font-weight: bold;
    }

    .price {
        font-size: $para3;
    }
}

.form {
    width: 85%;
}