@import '../config';
@import './landingConfig';

.overallBackground {
    width: 100vw;
    @include flexCenter(row);
    padding: 0px $horizontalPadding;
    margin-top: 100px;

    @media (max-width: $bp-tablet) {
        margin-top: 50px;
        padding: 0px;
    }
}

.container2 {
    width: 100vw;
    max-width: $containerMaxWidth;
    display: flex;

    @media (max-width: $bp-tablet) {
        flex-direction: column;
        height: fit-content;
        // background-color: yellow;
        padding: 0px 30px;
        max-width: 600px;
    }

    @media (max-width: $bp-mobile) {
        // background-color: blue;
    }
}




$containerHeight: 600px;
.left {
    width: 60%;
    padding-right: 50px;
    display: flex;
    height: calc($containerHeight - 50px);
    flex-direction: column;
    justify-content: center;

    @media (max-width: $bp-tablet) {
        width: 100%;
        padding-right: 0px;
        height: fit-content;
    }

    .title {
        font-size: $header4;
        font-weight: bolder;
    }

    .subTitle {
        font-size: $para4Half;
        font-weight: 500;
        color: $secondaryColor;
    }
}

.right {
    width: 40%;
    @include flexCenter(row);
    align-items: flex-start;
    
    @media (max-width: $bp-tablet) {
        width: 100%;
        margin-top: 70px;
    }
}

.imgContainer {
    position: relative;
    width: 300px;
    height: $containerHeight;
    border-radius: 15px;
    overflow: hidden;
}

$blue: #3888ff;
.pointContainer {
    display: flex;
    align-items: center;

    .iconContainer {
        max-width: 120px;
        min-width: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 85px;
        color: $blue;
    }

    .textContainer {
        .title {
            font-size: $para2;
            font-weight: 700;
            margin-bottom: 5px;
            color: darken($blue, 5%);
        }

        .description {
            font-size: $para4Half;
            font-weight: 500;
            color: $secondaryColor;
        }
    }
}

$red: #ff829f;
.pointContainer2 {
    .iconContainer {
        // justify-content: flex-end;
        color: $red;
        
        .icon {
            font-size: 3rem;
        }
    }

    .textContainer {
        .title {
            color: darken($red, 5%);
        }
    }
}