@import '../config';
@import './landingConfig';

.background {
    background-color: #ffeeee;
    width: 100vw; 
    margin-top: 50px;
    @include flexCenter(row);
    
    @media (max-width: $bp-tablet) {
        padding: 0px 30px;
    }
}

.container5 {
    width: 100vw;
    max-width: 1000px;
    margin: 50px 0px;
    display: flex;
    position: relative;
    z-index: 0;
    height: 250px;
    flex-direction: column;
    align-items: center;
}

.left {
    font-size: $para1;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: $bp-tablet) {
        font-size: $para2;
    }

    @media (max-width: $bp-mobile) {
        font-size: $para3Half;
    }


    .word1 {
        color: #1F79FF;
    }

    .word2 {
        color: #FF688B;
    }
}

.right {
    width: 100%;
    @include flexCenter(column);
}

.inputTitle {
    font-size: $para2;
    font-weight: 500;
    text-align: center;

    @media (max-width: $bp-tablet) {
        font-size: $para3;
    }

    @media (max-width: $bp-mobile) {
        font-size: $para4Half;
    }
}
$inputBorderRadius: 5px;
$inputHeight: 55px;
$inputWidth: 450px;
$fontSize: calc($para4 - 1px);
$btnWidth: 130px;

.inputContainer {
    display: flex;
    align-items: center;
    width: $inputWidth;
    border: 1.5px solid #3b3b3b;
    border-radius: $inputBorderRadius;
    position: relative;
    height: $inputHeight;
    overflow: hidden;
    transition: 0.2s;
    
    @media (max-width: $bp-desktop-thin) {
        width: 550px;
    } 

    @media (max-width: $bp-tablet) {
        width: 500px;
    }   
    @media (max-width: $bp-mobile) {
        height: 50px;
        width: 100%;
        max-width: 400px;
    }   
    

    input {
        font-family: $primary-font;
        width: 100%;
        height: $inputHeight;
        font-size: $fontSize;
        margin-right: 5px;
        border: none;
        border-radius: 100px;
        transition: 0.2s;
        background-color: transparent;
        padding: 0px 20px;

        &::placeholder {
            color: #444;
        }
    }

    .sendBtn {
        @include flexCenter(row);
        align-items: center;
        height: calc($inputHeight - 3px);
        width: $btnWidth;
        background-color: #333;
        color: white;
        font-size: $fontSize;
        font-weight: bold;
        transition: 0.2s;
        border-radius: 0px;
        position: absolute;
        right: 0px;

        &:hover {
            background-color: black;
        }

        .icon {
            margin-top: 1.5px;
            margin-left: 10px;
        }

        @media (max-width: $bp-desktop-thin) {
            width: 110px;
        } 

        @media (max-width: $bp-mobile) {
            width: 100px;
        }  
    }
}

.focusedContainer {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.failedContainer {
    border: 2px solid $errColor;
    box-shadow: none;
}

.failedTxt {
    font-size: $para5Half !important;
    color: $errColor !important;
    margin-left: $inputBorderRadius / 2;
    margin-top: 5px;
}