$containerHeight: 60px;
$containerWidth: 100%;

@mixin containerStyle {
    width: $containerWidth;
    height: $containerHeight;
    
    background-color: #EEE;
    border-radius: 5px;
    position: relative;
}