@import '../config';
@import './userConfig';



$authBoxColor: #FFF;

$textfieldHorizPadding: 20px;

.container {
    @include containerStyle;
    transition: 0.05s;
}

.errContainer {
    border: 2px solid $errColor;
    transition: 0.05s;
}

.inputContainer {
    width: 100%;
    cursor: text;

    .prefix {
        position: absolute;
        top: 22.75px;
        left: 20px;
        font-weight: 500;
        font-size: $para3;
    }

    .suffix {
        position: absolute;
        top: 23px;
        right: 20px;
        font-weight: 600;
        font-size: calc($para3 - 1px);
    }

    .field {
        background: transparent;
        border: none;
        position: absolute;
        font-family: $primary-font;
        font-size:  $para3;
        left: $textfieldHorizPadding + 15px;
        height: $containerHeight;
        top: 0.3rem;
        width: calc(100% - $textfieldHorizPadding * 2);
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: none;
        }
        
  
        &:focus {
            outline: none;
        }
    
        &:focus, &:not(:placeholder-shown) {
            & + .label {
                transform: translate(0rem, -8%) scale(.65);
                // color: var(--color-accent);
            }
        }
    }

    .label {
        position: absolute;
        @include flexCenter(column);
        align-items: flex-start;
        left: $textfieldHorizPadding;
        height: $containerHeight;

        // top: -0.5px;
        font-size: $para4;
        white-space: nowrap;
        color: $placeholderColor;
        transform: translate(0, 0);
        transform-origin: 0 0;
        transition: transform 120ms ease-in;
        line-height: 1.2;
    }
}

.passwordField {
    font-size: calc($para5 - 2px);
}

