@import '../config';
@import '../authConfig';
@import './paymentConfig';

$containerWidth: 100%;
$authBoxColor: #EEE;
$textfieldHorizPadding: 20px;

.inputTitle {
    font-size: $para5;
    color: #444;
    margin-left: $borderWidth / 2;
    margin-bottom: 6px;
}

.row {
    @include flexCenter(row);
}

.container {
    @include containerStyle;
}

.errContainer {
    border: 2px solid $errColor;
}

.inputContainer {
    width: 100%;
    cursor: text;
    background-color: red;

    .field {
        background: transparent;
        border: none;
        position: absolute;
        font-family: $primary-font;
        font-size: $fontSize;
        left: $textfieldHorizPadding;
        height: $containerHeight;
        top: 0.3rem;
        width: calc(100% - $textfieldHorizPadding * 2);
  
        &:focus {
            outline: none;
        }
    
        &:focus, &:not(:placeholder-shown) {
            & + .label {
                transform: translate(0rem, -8%) scale(.65);
                // color: var(--color-accent);
            }
        }
    }

    .label {
        position: absolute;
        @include flexCenter(column);
        align-items: flex-start;
        left: $textfieldHorizPadding;
        height: $containerHeight;
        font-size: $fontSize;
        white-space: nowrap;
        color: $placeholderColor;
        transform: translate(0, 0);
        transform-origin: 0 0;
        transition: transform 120ms ease-in;
        line-height: 1.2;
    }
}

.passwordField {
    font-size: calc($para5 - 2px);
}
