@import '../config';
@import '../authConfig';
@import '../configs/buttonConfig';


.pageContainer {
    @include flexCenter(column);
    height: 100vh;
    background-color: white;
    min-height: 500px;
    padding-bottom: 20px;

    @media (max-width: $breakpoint-tablet) {
        min-height: none;
        // background-color: $bgColor;
    }
}

.headerContainer {
    letter-spacing: 0px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 30px;
}

.mainContainer {
    width: 100%;
    max-width: 400px;
    max-height: 700px;
    min-height: 500px;
    @include flexCenter(column);
    align-items: flex-start;
    padding: 20px $horizontalPadding;
    border-radius: 20px;

    @media (max-width: $breakpoint-tablet) {
        height: 90vh;
        max-height: none;
    }
}

.row1 {
    @include flexCenter(row);
    justify-content: flex-start;
}

$imageHeight: 70px;
.imgContainer {
    width: $imageHeight;
    height: $imageHeight;
    border-radius: $imageHeight / 2;
    // border: 1px solid #eee;
    position: relative;

    .img {
        border-radius: $imageHeight / 2;
    }
}

.name {
    font-size: $para2;
    font-weight: bold;
}

.successContainer {
    width: 100vw;
    height: 90vh;
    padding: 0px 50px;
    @include flexCenter(row);
    justify-content: center;
    text-align: center;
    font-size: $para2;
}