@import '../../config';

.container {
    // max-width: 500px;
    padding: 15px 0px;
}

$cardHeight: 10rem;
.card {
    height: $cardHeight;
    width: $cardHeight;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 10px;
    @include flexCenter(column);

    .icon {
        color: #444;
    }
}

