@import './config';

.page {
  width: 100vw;
  @include flexCenter(column);
  padding: 120px 30px;
  background-color: #96F7FA;
}

.contentContainer {
  @include flexCenter(column);
  justify-content: flex-end;;
  // height: 60vh;
}

.landingText {
  .cancel {
    text-decoration: line-through;
  }

  .title {
    font-weight: 800;
    color: black;
  }

  color: #222;
  font-size: $header1;
  font-weight: 800;
}

.subText {
  font-size: $para3;
}

.imageContainer {
    position: relative;

    height: 450px;
    width: 120%;
    // background-color: blue;
}


.buttonContainer {
  background-color: #111;
  height: 60px;
  width: 100%;
  border-radius: 30px;
  color: white;
  font-size: $para3Half;
  font-weight: 700;
  @include flexCenter(row);

  &:active {
      background-color: #444;
  }
}