@import './config';

.page {
  width: 100vw;
  padding: 10px 30px;
  background-color: white;
  // margin-bottom: 100px;
  padding-bottom: 0px;
  @include flexCenter(column);
}

.container1 {
  // background-color: blue;
  width: 100vw;
  max-width: 1000px;
  height: 600px;
  padding: 50px 0px;
  display: flex;

  .left {
    // background-color: black;
    // background-color: #EEE;
    // padding: 30px;
    // background-color: blue;
    width: 50%;
    height: 100%;
    @include flexCenter(column);
    align-items: flex-start;
  }

  .right {
    // background-color: blue;
    width: 50%;
    height: 100%;
   
  }
}

.left {
  .text1 {
    font-size: $header5;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.6rem;
      right: 0.7rem;
      width: 155px;
      height: 18px;
      background-color: rgba(0, 119, 255, 0.5);
    }
  }

  .text2 {
    font-size: $header5;
    font-weight: bolder;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      right: 0.7rem;
      width: 280px;
      height: 18px;
      background-color: rgba(255, 121, 153, 0.5);
    }
  }
}

.right {
  @include flexCenter(row);

  .background {
    background: linear-gradient(107deg, rgba(2,0,36,1) 0%, rgb(255, 221, 221) 0%, rgb(201, 243, 255) 100%);
    width: 450px;
    height: 550px;
    padding-top: 15px;
    @include flexCenter(row);
  }
  
  .imgContainer {
    position: relative;
    // transform: translateX(100px);
    width: 100%;
    height: 100%;
    // background-color: white;
    // box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-radius: 15px;
    overflow: hidden;

    @include flexCenter(column);
  }
  // background-color: blue;
}

.testContainer {
  z-index: 1;
}


.container2 {
  width: 90vw;
  max-width: 1000px;
  height: 300px;
  background-color: #f5f5f5;
  margin: 0px 50px;
  border-radius: 0px;
}