@import './config';

.page {
  width: 100vw;
  padding: 10px 30px;
  background-color: white;
  padding-bottom: 0px;
  @include flexCenter(column);

}

.scrollTracker {
  width: 100vw;
  background-color: black;
  height: 0.5rem;
  position: fixed;
  inset: 0 0 auto;

  
}
