@import '../../config';

.tabContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: $tabHeight;
  padding: 0px $horizontalPadding;
}
  
  .tab {
    margin-right: 25px;
    padding: 4px 0px;
    border-radius: 5px;
    transition: 0.2s;
    color: #AAA;
    font-size: $para4;
    font-weight: 500;
  }
  
  .tabSelected {
    padding: 4px 10px;
    background-color: #EEE;
    color: black;
    font-weight: 600;
  }
  