@import '../../config';

.loadingContainer {
    height: 80%;
    @include flexCenter(row);
    // background-color: blue;
}

.paymentsContainer {
    // background-color: blue;
    
}

.dateText {
    font-size: $para4;
    font-weight: bold;
    color: #333;
}

.groupContainer {
    padding: 10px 15px;
    // background-color: #f4f4f4;
    // border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.paymentContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    // background-color: blue;
    width: 80%;
    .name {
        font-weight: 500;
    }
    
    .note {
        font-weight: 500;
        color: #888;
        overflow:hidden;
        max-width: 80%;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
}

.right {
    .time {
        font-weight: 500;
        color: #888;
    }

    .amount {
        
    }
}