@import '../config';
@import './OnboardingConfig.scss';


.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    // height: 100vh;
    min-height: 500px;
}

.headerText {
    font-size: $para2;
}

.acctDetailsContainer {
    width: 90%;
}

.description {
    font-weight: 600;
    font-size: $para5;
    padding: 0px 6px;
    text-align: center;
}

.mainContainer {
    @include mainContainer;
}

.profileImgRow {
    width: 100%;
    @include flexCenter(column);
    // align-items: ;
}

$imgHeight: 90px;
.imgContainer {
    width: $imgHeight;
    height: $imgHeight;
    border-radius: $imgHeight /2;
    background-color: #DDD;
    margin-bottom: 10px;
    position: relative;

    @include flexCenter(row);

    .icon {
        color: #AAA;
        font-size: $header4;
    }
}

.profileImg {
    border-radius: $imgHeight / 2;
}

.imgInput {
    display: hidden;
}

.profileImgText {
    color: $placeholderColor;
    font-size: $para5Half;
}

.backBtn {
    @include backBtn;
}

.btnContainer {
    @include btnContainer;
}

.errText {
    @include obErrText;
}