@import '../config';

.navContainer {
    width: 100vw;
    height: $navHeight;
    display: flex;
    align-items: center;
    padding: 0px $horizontalPadding;
    position: fixed;
    background-color: white;
    z-index: 1000;

    @media (max-width: $bp-mobile) {
        padding: 0px $horizontalPaddingMobile;
    }
}

.left {
    width: 30%;
    display: flex;
    align-items: center;

    .subText {
        margin: 0px;
    }
}

.right {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.applyBtn {
    
    color: white;
    padding: 12px 20px;
    height: 50px;
    @include flexCenter(row);
    font-size: $para4;
    border-radius: 5px;
    margin-left: 50px;
    transition: 0.2s;
    font-weight: bold;
    background-color: $btnColor;

    &:hover {
        background-color: darken($primaryColor, 10%);
    }

    @media (max-width: $bp-mobile) {
        padding: 10px 10px;
        font-size: $para5Half;
    }
}