@import "../config";

.navContainer {
    width: 100vw;
    height: $navHeight;
    @include flexCenter(row);
    justify-content: space-between;
    align-items: center;
    padding-left: $horizontalPadding;
    padding-right: $horizontalPadding;
    z-index: 10;
}


.logoContainer {
    font-size: $para2;
    font-weight: 800;
}

.menuIcon {
    font-size: 20px;
}

.right {
    @include flexCenter(row);
    justify-content: flex-end;
}

.authBtn {
    font-size: $para4;
    border-radius: 15px;
    padding: 3px 10px;
    width: 100px;
    height: 40px;
}

$blue: #248bf5;
.signUpBtn {
    // color: $blue;
    // border: 1px solid $blue;
    // box-shadow: #86c3ff6b 0px 0px 10px;
    background-color: $blue;
    color: white;
    box-shadow: #3a9dfff0 0px 1px 4px;

}

.loginBtn {
    background-color: #FAFAFA;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
