@import '../config';

.inputContainer {
    width: 100%;
    background-color: white;

    height: 60px;
    display: flex;
    padding-left: 16px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    transition: 0.1s ease-in;
}

.inputFocused {
    box-shadow: #0683d7b2 0px 4px 4px;
}

.prefixText {
    height: 100%;


    @include flexCenter(row);
    justify-content: flex-end;
    margin-right: 1px;

    font-size: $para3;
    font-weight: 500;
}

.inputField {
    width: 50%;
    height: 100%;

    background: transparent;
    border: none;
    font-size: $para3;
    font-weight: 500;
    flex: 1;
    padding-right: 16px;

    &:focus  {
        border: none;
        outline: none;
    }
}