@import '../config';

.pageContainer {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.contentContainer {
  padding: 0px 30px;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerText {
    font-size: $para2;
  }

  .shareIcon {
    font-size: 18px;
  }
}
