@import '../config';


.container {
    // max-width: 500px;
    padding: 15px $horizontalPadding;
    display: flex;
    flex-wrap: wrap;
    transition: 0.2s;
}

$cardHeight: 7rem;
$cardWidth: 8rem;
$cardPadding: 30px 20px;

.card {
    min-height: $cardHeight;
    max-height: $cardHeight;
    min-width: $cardWidth;
    max-width: $cardWidth;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 10px;
    @include flexCenter(row);
    margin-right: 30px;

    justify-content: flex-start;
    align-items: flex-end;
    padding: $cardPadding;
    background-color: #f4f4f4;

    .row {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .icon {
        color: #444;
        font-size: $para4Half;
        margin-bottom: 5px;
    }
}

.serviceCard {
    min-height: $cardHeight;
    max-height: $cardHeight;
    min-width: $cardWidth;
    max-width: $cardWidth;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 10px;
    @include flexCenter(column);
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: flex-end;
    align-items: flex-start;
    padding: $cardPadding;

    p {
        font-size: calc($para4 - 1px);
        text-align: left;
        font-weight: bold;
    }

    .icon {
        color: #444;
    }
}

.contentContainer {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    padding: 0px $horizontalPadding;
}