@import '../../config';

.pageContainer {
    width: 100vw;
    height: calc(100vh - $navHeight);
    padding: 0px 30px;
    padding-bottom: 50px;
    background-color: white;
    overflow-x: hidden;
    @include flexCenter(column);
    justify-content: flex-start;
    position: relative;
}

.backIcon {
  position: absolute;
  left: 30px;
  top: 0px;
  font-size: $para3;
}

.header {
    font-size: $para3;
}

.outerImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


$imageHeight: 90px;
.imgContainer {
  position: relative;
  width: $imageHeight;
  height: $imageHeight;
  border-radius: calc($imageHeight / 2);
  overflow: hidden;

  .image {
    border-radius: $imageHeight / 2;
  }

  button {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    font-size: $para5;
    color: #EEE;
    height: 30px;
    // background-color: #1d1d1db5;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(76, 76, 76, 0.884) 50%, rgba(53, 53, 53, 0.254) 100%);
  }
}
  
.errText {
  color: $errColor;
}