@import '../configs/buttonConfig';
@import '../config';

.buttonContainer {
    height: $buttonHeight;
    font-weight: 600;
    width: 100%;
    border-radius: 15px;
    color: black;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size: $para3;


    @include flexCenter(row);
}

$logoHeight: 30px;
.logoContainer {
    position: relative;
    width: $logoHeight;
    height: $logoHeight;
    margin-right: 15px;
}

.disabledBtn {
    color: #CCC;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

$spinnerHeight: 30px;
.spinner {
    width: $spinnerHeight;
    height: $spinnerHeight;
    border-radius: $spinnerHeight/2;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-left-color: black;
    background-color: transparent;
    animation: rotating 1s 0.25s linear infinite;
}

