@import '../config';
@import '../authConfig';

$textPadding: 10px;

.pageContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.3);
    min-height: 500px;

    @media (max-width: $breakpoint-tablet) {
        min-height: none;
        
    }
}


.mainContainer {
    height: 50vh;
    width: 100%;
    max-width: 500px;
    max-height: 700px;
    min-height: 500px;
    @include flexCenter(column);
    align-items: flex-start;
    padding: 30px $horizontalPadding;
    position: relative;
    border-radius: 20px;

    @media (max-width: $breakpoint-tablet) {
        border-radius: 0px;
        max-height: none;

    }
}

.headerText {
    font-size: $header5;
    padding-left: $textPadding;
    font-weight: 800;
}

.logoContainer {
    width: 110px;
    padding-left: 10px;
    margin-bottom: 8px;
}

.divider {
    width: 100%;
    margin: 15px 0px;
    padding: 0px 10px;

    @include flexCenter(row);

    p {
        margin: 0px 15px;
        margin-bottom: 4px;
        color: #ccc;
    }

    .line {
        height: 2px;
        background-color: #ccc;
        width: 50%;
    }
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
}

.errText {
    font-size: $para4;   
    color: $errColor;
    margin-bottom: 15px;
    padding-left: $textPadding;
}


.bottomText {
    padding-left: $textPadding;
    font-size: $para4;
    color: $text3Color;
    font-weight: 500;
    span {
        color: black
    }
}
