@import '../../config';

$iconDim: 33px;
.iconContainer {
    padding: 0px 15px;
    height: $iconDim;
    border-radius: $iconDim / 2;
    @include flexCenter(row);
    background-color: #232323;
    font-size: $para5;
    color: #EEE;

    &:hover {
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
}


.icon {
    margin-right: 10px;
}

.text {
    font-size: $para5;
}

.secondaryContainer {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #555;
    transition: 0.2s;

    // &:hover {
    //     background-color: ;
    // }
}


$successColor: rgb(0, 181, 115);
.successContainer {
    background-color: $successColor;

    &:hover {
        background-color: $successColor
    }
}