@import '../../config';

.container {

    padding: 0px $horizontalPadding;
    width: 100%;
}

.backContainer {
    @include flexCenter(row);
}

.backIcon {
    font-size: $para4;
    padding: 0px;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .serviceTitle {
        font-size: $para2;
        font-weight: 700;
        color: black;
        min-width: fit-content;
        margin-right: 50px;
    }

    .actionContainer {
        display: flex;
        align-items: center;
    }
}

.tabRowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

