@import '../../config';
.tabBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    padding-bottom: 20px;
}

.tab {
    margin-right: 25px;
    padding: 4px 0px;
    transition: 0.1s;
    color: #AAA;
    font-size: $para5Half;
    font-weight: 500;
}
  
.tabSelected {
    padding: 4px 0px;
    border-bottom: 2px solid #222;
    color: black;
    font-weight: 600;
}
