@import '../config';

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 10;
    @include flexCenter(row);
}

.cancelBtn {
    position: absolute;
    top: 0px;
    right: 15px;
    .icon {
        font-size: $para3;
    }
}


.modal {
    width: 400px;
    height: 250px;
    background-color: white;
    // border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
}


.errIcon {
    font-size: $header4;
    color: $errColor;
}

.title {
    text-align: center;
}

.description {
    font-weight: 500;
    text-align: center;
    font-size: $para5;   
    padding: 0px 10px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.okBtn {
    width: 140px;
    height: 45px;
    background-color: #222;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: $para5Half;
        margin-right: 10px;
    }

    .icon {
        font-size: $para4;
    }
}