@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

$spinnerHeight: 30px;
.spinner {
    width: $spinnerHeight;
    height: $spinnerHeight;
    border-radius: $spinnerHeight/2;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(84, 84, 84);
    border-left-color: white;
    background-color: transparent;
    animation: rotating 1s 0.25s linear infinite;
}